CFBD_API_KEY=
N13_DATA_SOURCE=stub
N13_SEASON=2026
N13_POLL_INTERVAL_SECONDS=25
N13_DEFICIT_THRESHOLDS=3,7,10,14,21
N13_TOP25_ONLY=1
N13_AUTO_POLL=0
N13_ENABLE_LIVE_SCOREBOARD=0
CFBD_TIER2_CONFIRMED=0
